.footer {
	@extend .d-flex, .align-items-center;
	height: $size-100px;
	width: 100%;

	a {
		color: $color-white;
		cursor: pointer;
		padding-left: $size-10px * 3;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}

@media only screen and (max-width: $breakpoint-tablet) {
	.footer {
		flex-direction: column;
	}
}
