.login__form {
	@extend .d-flex, .flex-column;

	label {
		font-size: 14px;
	}

	&--remember-me {
		@extend .d-flex, .justify-content-between;
		color: $color-white;
		margin-top: $size-10px;

		a {
			color: $color-white;
			font-size: 14px;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	&--input {
		@extend .form-input;
	}

	&--button {
		@extend .form-button;
	}
}

