.login__social-media {
	div {
		@extend .d-flex, .align-items-center;
		font-size: 14px;
		margin: $size-10px 0;

		img {
			margin-right: $size-10px;
			width: 30px;
		}
	}

	&--register {
		margin-top: $size-regular;
		font-size: 14px;

		a {
			color: $color-white;
			font-weight: bold;
			font-size: 16px;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}
