@import "~bootstrap/scss/bootstrap";
@import "./Vars.scss";

@import "./components/Header.scss";
@import "./components/Footer.scss";

@import "./components/home/Search.scss";
@import "./components/home/Carousel.scss";
@import "./components/home/CarouselItem.scss";

@import "./components/login/LoginContainer.scss";
@import "./components/login/LoginForm.scss";
@import "./components/login/LoginSocialMedia.scss";

@import "./components/register/RegisterContainer.scss";
@import "./components/register/RegisterForm.scss";

@import "./components/not-found/NotFound.scss";
@import "./components/Player.scss";

body {
	background: $background-main-color;
	background: $background-gradient;
}

h1, h2, h3 {
	color: $color-white;
}

::-webkit-scrollbar {
	display: none;
}

