// Colors
$background-main-color: #FF3CAC;
$background-second-color: #784BA0;
$background-third-color:#2B86C5;

$background-gradient: linear-gradient(
225deg,
$background-main-color 0%,
$background-second-color 50%,
$background-third-color 100%
);

$color-black: black;
$color-black-transparent: rgba(0,0,0,0.2);
$color-white: white;
$color-white-transparent: rgba(255,255,255,0.1);

// Size
$size-regular: 5rem * .625;
$size-100px: 10rem * .625;
$size-10px: 1rem * .625;
$size-border-radius: 2rem * .625;

// media
$breakpoint-tablet: 768px;

