// Colors
$background-main-color: #FF3CAC;
$background-second-color: #784BA0;
$background-third-color:#2B86C5;

$background-gradient: linear-gradient(
225deg,
$background-main-color 0%,
$background-second-color 50%,
$background-third-color 100%
);

$color-black: black;
$color-black-transparent: rgba(0,0,0,0.2);
$color-white: white;
$color-white-transparent: rgba(255,255,255,0.1);

// Size
$size-regular: 5rem * .625;
$size-100px: 10rem * .625;
$size-10px: 1rem * .625;
$size-border-radius: 2rem * .625;

// media
$breakpoint-tablet: 768px;

//-------- Form -----------//

// Form Container
.form-container {
	@extend .d-flex, .flex-column, .justify-content-around;
	background-color: $color-black-transparent;
	border: 2px solid $color-white;
	border-radius: $size-border-radius * 2;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	color: $color-white;
	height: 85vh;
	max-width: $breakpoint-tablet;
	padding: 60px 68px 40px;
}

.form-input {
	background-color: transparent;
	border-bottom: 2px solid $color-white;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	color: $color-white;
	font-size: 16px;
	height: $size-regular;
	margin-bottom: 20px;
	outline: none;
	padding: 0px 20px;

}

.form-button {
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	border-radius: $size-border-radius;
	color: $color-white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	height: $size-regular;
	letter-spacing: 1px;
	margin: $size-10px 0;

	-webkit-transition: background-color 450ms ease-out;
	-moz-transition: background-color 450ms ease-out;
	-o-transition: background-color 450ms ease-out;
	transition: background-color 450ms ease-out;

}

.form-button:hover {
	background-color: $background-main-color;
}

